@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-bg: #085c51;
    --color-text1: #ffffff;
    --color-text2: #fbb040;
    --color-text3: #085c51;
    --color-bg2: #f8fffe;
    --font-poppins: Poppins, sans-serif;
}

@font-face {
  font-family: 'Cakecafe';
  src: url('@/assets/fonts/Cakecafe.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}

body {
    font-family: 'Poppins', sans-serif;
  }